<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Quiz</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <p class="img_center">
        <a href="../index">
            <img src="title.png" alt="この人誰だろな？" width="200">
        </a>
    </p>
    <div th:each="question : ${questions}">
        <h1 th:text="${question.question}"></h1>
        <form method="post" th:action="@{/checkAnswer}" th:object="${quizform}">
            <div th:each="entry : ${choiceMap}">
                <div th:each="choice : ${entry.value}" th:if="${entry.key == question.id}">
                    <button type="submit" name="selectedAnswer" th:value="${choice.name}" th:text="${choice.name}" style="background-color: lightgreen; border: none; padding: 10px; width: 100%; margin-bottom: 10px; cursor: pointer; font-size: 1.2em;"></button>
                </div>
            </div>
            <input type="hidden" th:field="*{correctAnswer}" th:value="${question.name}" />
        </form>
    </div>
</body>
</html>
